#wrapper {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}

h2 {
    padding-left: 16px;
    padding-right: 16px;
    user-select: none;
    justify-content: left;
}

#increase {
    padding: 8px;
    border-width: 2px;
    border-color: black;
    border-style: solid;
    font-size: 32px;
    user-select: none;
    background-color: rgb(180, 255, 150);
}

#increase:hover {
    cursor: pointer;
    background-color:rgb(96, 136, 80);
}

#decrease {
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 8px;
    padding-right: 8px;
    border-width: 2px;
    border-color: black;
    border-style: solid;
    font-size: 44px;
    user-select: none;
    background-color: rgb(255, 146, 119);
}

#decrease:hover {
    cursor: pointer;
    background-color:rgb(146, 84, 68);
}