<div id="content">
    <h1>Home</h1>
    <h2><span id="acro">I N</span>eed <span id="acro">T</span>o <span id="acro">P</span>ractice</h2>
    <p>Hello! Welcome to INTP! Your one-stop solution for efficient musical practice!</p>
    <p>You can use the toolbar at the top to navigate between the different pages.</p>
    <ul>
        <li>Planning
            <div id="description">
                This is a weekly calendar where you can set your practice goals for each day of the week as well as which days you wish to practice.<br>
                After setting a goal and practice days, your total practice time for that week will automatically be calculated for you.<br>
                If you wish to save your plan for the week, click the Save button.<br>
                <span id="indent">Note:</span> Always remember to save again after making any changes to your weekly plan!<br>
                If you wish to start over, clicking the Clear button will clear your current saved plan.
            </div>
        </li>
        <li>Song List
            <div id="description">
                This page will let you listen to the pieces you are currently working on so that you do not have to leave the application.<br>
                You can enter the name of a song followed by a comma and then the URL to a recording of the piece on Youtube, click the Add button, and that song will appear on the page for you to listen to.<br>
                If you wish to save your song list, click the Save button.<br>
                If you wish to remove a song from the song list, enter its URL into the textbox and then click the Delete button.<br>
            </div>
        </li>
    </ul>
</div>