<div id="content">
    <h1>Home</h1>
    <h2><span id="acro">I N</span>eed <span id="acro">T</span>o <span id="acro">P</span>ractice</h2>
    <p>Hello! Welcome to INTP! Your one-stop solution for efficient musical practice!</p>
    <p>You can use the toolbar at the top to navigate between the different pages.</p>
    <ul>
        <li>Planning
            <div id="description">
                This is a weekly calendar where you can set your practice goals for the week as well as which days you wish to practice.<br>
                After setting a goal and practice days, your practice time for each practice day you have selected for that week will automatically be calculated for you.
            </div>
        </li>
        <li>Song List
            <div id="description">
                This page will let you listen to the pieces you are currently working on so that you do not have to leave the application.<br>
                You can enter the URL to a recording of the piece on Youtube, and that song will automatically appear on the page for you to listen to.<br>
                If you wish to save your song list, clicking the "Save" button will download a text file that contains all of the URLs you have uploaded.<br>
                If you wish to load a song list, you can enter the URLs of the songs into the textbox by copy/pasting from a previous saved list.<br>
                Then, clicking the "Load" button will load those songs into your Song List. This can also be used to load multiple songs at the same time.
            </div>
        </li>
    </ul>
</div>