#content {
    font-size: 24px;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 28px;
}

mat-form-field {
    width: 600px;
}

input {
    font-size: 20px;
    background-color: rgb(243, 220, 188);
    width: 512px;
    height: 32px;
}

.song-list {
    list-style-type: none;
    margin-top: 4px;
    margin-left: -16px;
    margin-bottom: 48px;
}

iframe {
    margin-left: 25%;
    aspect-ratio: auto;
    justify-content: center;
    align-items: center;
}

#checkbox-label {
    font-size: 24px;
}

li {
    margin-bottom: 8px;
}

a:link {
    text-decoration: none;
    color:rgb(23, 163, 72);
}

a:visited {
    text-decoration: none;
    color:rgb(12, 122, 51);
}

.counter-buttons {
    margin-top: -16px;
    display: inline-block;
}

#save {
    font-size: 24px;
    margin-bottom: 16px;
    margin-left: 16px;
    background-color: rgb(243, 220, 188);
}

#delete {
    font-size: 24px;
    margin-bottom: 16px;
    margin-left: 16px;
    background-color: rgb(243, 220, 188);
}